<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Django-ng</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ang/styles.css' %}"></head>
<body>
	<app-root></app-root>
	
</body>
<script type="text/javascript" src="./../../../KSM_Front/KSM-Angular/dist/KSM-Angular/main-es2015.js"></script>
	<script type="text/javascript" src="./../../../KSM_Front/KSM-Angular/dist/KSM-Angular/polyfills-es2015.js"></script>
	<script type="text/javascript" src="./../../../KSM_Front/KSM-Angular/dist/KSM-Angular/runtime-es2015.js"></script>
	<script type="text/javascript" src="./../../../KSM_Front/KSM-Angular/dist/KSM-Angular/styles-es2015.js"></script>
	<script type="text/javascript" src="./../../../KSM_Front/KSM-Angular/dist/KSM-Angular/vendor-es2015.js"></script>
	
</html>