<div class="row">
    <div class="col-md-2">
        <div class="body-left" style="height: 300px">
            News
        </div>
        <div class="body-left"  style="height: 400px">
            <p>
                Ad
            </p>
        </div>
    </div>
    <div class="col-md-8">
        <app-index></app-index>
        <app-chart></app-chart>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-body">
                Top 5 traded today<br>
                <span style="font-size:0.7em">
                    1. Celltrion 가격 세모, 등락가/율<br>
                    2. Ahn Lab<br>
                    3. Samsung elec.<br>
                    4. Celltrion<br>
                    5. Celltrion<br>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Top 5 searched today<br>
                <span style="font-size:0.7em">
                    1. Tesla<br>
                    2. Coronavirus<br>
                    3. Apple iPhone 12 release<br>
                    4. California wildfire<br>
                    5. 2020 Election<br>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                상한가<br>
                <span style="font-size:0.7em">
                    <br><br><br><br><br>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                하한가<br>
                <span style="font-size:0.7em">
                    <br><br><br><br><br>
                </span>
            </div>
        </div>
    </div>
</div>