<div class="list-group list-group-horizontal-lg">
    <a id="kospi" (click)="click_KOSPI()" class="list-group-item list-group-item-info list-group-item-action" [ngClass]="(stockNumber == 0) ? 'active' : ''">
        <div>
          <h4>KOSPI</h4>
          <h2>2383.72 KRW</h2>
          <p>+30.2 +0.2%</p>
        </div>
      </a>
    <a id="kosdaq" (click)="click_KOSDAQ()" class="list-group-item list-group-item-info list-group-item-action" [ngClass]="(stockNumber == 1) ? 'active' : ''">
      <div>
        <h4>KOSDAQ</h4>
        <h2>870.6 KRW</h2>
        <p>-11.9 -0.2%</p>
      </div>
    </a>
    <a id="kospi200"  (click)="click_KOSPI200()" class="list-group-item list-group-item-info list-group-item-action" [ngClass]="(stockNumber == 2) ? 'active' : ''">
        <div>
          <h4>KOSPI 200</h4>
          <h2>314.3 KRW</h2>
          <p>-11.9 -3%</p>
        </div>
      </a>
  </div>
